NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

DATABASE_URL=

# Supabase Client
NEXT_PUBLIC_SUPABASE_URL=https://cmrztqwskbowuqkrggbr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

GOOGLE_GENERATIVE_AI_API_KEY=
